#ph{
    min-height:150vh;
    padding-bottom: 20vh;;
    background-image:url('./bg.png') ;
    background-image: url('./bg.png');
background-repeat: no-repeat;
background-size: cover;
padding-top:10vh;
margin-top:0px;font-family: 'Noto Sans', sans-serif;

img{
    font-family: 'Noto Sans', sans-serif;
margin-top:10vh;


}

}